body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    place-content: center;
    background-color: rgb(32, 77, 111);
}
main{
    display: flex;
    align-items: center;
}
.panel{
    text-align: center;
    background-color: white;
    position: relative;
}
.bar{
    fill:rgb(53, 135, 189);
}
.bar:hover{
    fill:rgb(117, 165, 50);
}
#tooltip{
    background-color: rgb(63, 118, 160);
    height: 4rem;
    width: 10rem;
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    box-shadow: 0 0 1rem 0.1rem rgb(40,40,40);
}
#tooltip > p{
    margin-top: 0.75rem;
}
.visible{
    visibility: visible;
}
.invisible{
    visibility: hidden;
}
